  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* respeita a medida da caixa pela borda*/
}

:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255,255,255,0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
    
}

.light {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg);
    
}

body {
    /* FORMA NORMAL
    background-image: url(./assets/bg-mobile.jpg); buscar imagem
    background-repeat: no-repeat; nao repete imagem
    background-position: top center; posicao y x 
    background-size: cover; preenchimento tela
    */

    /*SHORTHANDS*/
    background: var(--bg-url) no-repeat top center/cover;
}

#container {
    width: 100%;        
    max-width: 588px;
    margin: 56px auto 0px; /*centraliza width, top, laterais(auto) 0px botton*/
    padding: 0 24px;

}

/*o elemento pai (block), neste caso, esta definindo centralizando os filhos com o text-align*/
#profile {
    text-align: center;
    padding: 24px;
}

#profile img { /*img (inline): nao consegue centralizar com margin
    display: block; transforma em block
    margin: auto; entao aceita centralizar com margin */
    width: 112px;
    border-radius: 50%;
}

#profile p {
    font-weight: 500;    
    line-height: 24px;
    margin-top: 8px;
}

/*switch botao*/
#switch { /*alinhamentos de display block*/
    width: 64px;    
    position: relative; /*relativizar o absoluto do button*/
    margin: 4px auto;
}

#switch button { /*alinhamentos de background*/
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    /*alinhamentos para positions*/
    position: absolute; /*para sobrepor elementos*/    
    z-index: 1;
    /*estrategia para alinhar posicionamentos absolutos*/
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.light #switch button {
    right: 0;
    left: initial;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;

    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
}

/*Links*/
ul {
    list-style: none;
    
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px 0;
}

ul li a {   
    /*alinhamentos para display flex*/
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;

    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px); /*Embassar*/

    text-decoration: none;
    font-weight: 500;

    transition: background 0.2s;
}

/*pseudo-selector(sudo selector)*/
ul li a:hover{
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

/*social links*/
#social-links {
    display: flex;
    justify-content: center;    

    padding: 24px 0;
    font-size: 24px;

}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    transition: background .2s;
    border-radius: 50px;
}

#social-links a:hover {
    background: var(--highlight-color);
    padding: 16px;    
}

footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}